.button {
  position: absolute;
  font-weight: bold;
  font-size: 100%;
  background-color: #eee;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid transparent;
  border-radius: 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.9);
}
