.chat .chat-output .chat-output-tasks {
  display: flex;
  gap: 0.5rem;

  flex-direction: column-reverse;

  padding-inline: 3rem;

  overflow: scroll !important;
}

.chat .chat-output .chat-output-tasks .chat-task {
  display: flex;

  flex-direction: row-reverse;

  align-items: center;

  border-radius: 0.4rem;
}

.chat .chat-output .chat-output-tasks .chat-task.to {
  flex-direction: row;
}

.chat .chat-output .chat-output-tasks .chat-task img {
  display: none;
  width: 1%;
  object-fit: contain;
  color: #eee;
  margin-inline: 1rem;
}

.chat .chat-output .chat-output-tasks .chat-task .task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-align: left;

  background-color: rgba(255, 255, 255, 0.9);

  padding: 0.5rem;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.chat .chat-output .chat-output-tasks .chat-task.to .task-container {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0.5rem;
}

div.task {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 90%;
}

.chat .chat-output .chat-output-tasks .chat-task .task-container p {
  font-size: 60%;
  color: #111;
  padding-top: 1rem;
}
