.chat {
  height: 100%;
  max-height: 900px;
  display: grid;
  grid-template-rows: 91% 9%;
  background-color: rgba(0, 2, 22, 0.4);
}

.chat .chat-output {
  display: grid;
  position: relative;
  grid-template-rows: 10% 90%;
  padding: 1rem;
}

/* Start container output profile */
.chat .chat-output .chat-output-profile {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 1rem;
  gap: 2rem;
  color: #eee;

  box-shadow: 0px 5px 5px 5px rgba(255, 255, 255, 1);
}

.chat .chat-output .chat-output-profile img {
  display: block;
  height: 70%;
  object-fit: contain;
}

.chat .chat-output .chat-output-profile p {
  text-transform: capitalize;
}
/* End container output profile */
