.login {
  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;
  color: #eee;
}

.login h1 {
  color: #165a4f;

  margin: 1rem 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 2rem;

  max-height: 450px;
  height: 100%;
  width: 380px;

  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  backdrop-filter: blur(4px);
}

.login form div label {
  display: block;
  text-align: left;
}

.login form div input {
  width: 100%;
  height: 2rem;
  outline: none;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);

  padding-inline: 0.5rem;

  border-radius: 0.2rem;
}

.login form div input:focus {
  border: 1px solid black;
}

.login form button {
  height: 2rem;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  background-color: #165a4f;
  border-radius: 0.2rem;
  font-weight: bold;
  text-align: center;
}

.login button:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.login form button div,
.login p {
  margin: 0 auto;
}

.login form p a {
  color: #165a4f;
  text-decoration: none;
  font-weight: bold;
}
