.App {
  position: relative;
  background-image: url("../public/background_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  text-align: center;

  max-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}
