@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */

*::-webkit-scrollbar {
  width: 0.3rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(22, 90, 79, 1);
  border-radius: 0.4rem;
}

body {
  font-family: "Madimi One", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
